.gallery {
  &__container {
    &--col {
      @apply relative;

      &.obj-0 {
        @apply h-80 sm:shadow-xl shadow-lg shadow-gray-300 sm:col-span-1 col-span-2;
      }

      &.obj-1 {
        height: 360px;

        @apply col-span-2 shadow-lg shadow-gray-300;

        @media screen and (min-width: $lg) {
          height: 420px;

          @apply col-span-1 shadow-xl;
        }
      }

      &.obj-2 {
        height: 360px;

        @apply sm:col-span-1 col-span-2 shadow-lg shadow-gray-300;

        @media screen and (min-width: $lg) {
          height: 385px;
          margin-bottom: -185px;

          @apply shadow-none;
        }
      }

      &.obj-3 {
        height: 360px;

        @apply col-span-2 shadow-lg shadow-gray-300;

        @media screen and (min-width: $lg) {
          height: 385px;

          @apply shadow-none;
        }
      }

      &.obj-4 {
        @apply lg:h-80 h-90 sm:shadow-xl shadow-lg shadow-gray-300 relative z-10 sm:col-span-1 col-span-2;

        @media screen and (min-width: $lg) {
          margin-bottom: -120px;
        }

        &:before,
        &:after {
          content: "";

          @apply w-full h-full absolute block;
        }

        &:before {
          background: $white url("../../../public/images/paper.webp") scroll repeat left top;

          @apply left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 z-0 pointer-events-none;
        }

        &:after {
          background: transparent url("../../../public/images/dots.webp") scroll repeat left top;

          @apply -z-3 -right-9 -bottom-9;
        }
      }

      img {
        @apply w-full h-full object-cover;
      }
    }

    &--img {
      @apply absolute transition duration-300 ease-linear w-full h-full;

      &:not(.show) {
        @apply -z-3 pointer-events-none opacity-0;
      }
    }
  }
}
