// Align
@mixin transform($string) {
  transform: $string;
}

@mixin center($xy: xy) {
  @if $xy == xy {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 50%;

    @include transform(translateX(-50%) translateY(-50%));
  } @else if $xy == x {
    right: auto;
    left: 50%;

    @include transform(translateX(-50%));
  } @else if $xy == y {
    top: 50%;
    bottom: auto;

    @include transform(translateY(-50%));
  }
}
